@import '../../index.scss';

body {
  background: url('../../assets/bg.jpg');
  background-repeat: no-repeat;
  background-position: left;
}

.wrapper {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  background: $white_bg;
  padding: 44px;
  box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  height: 85%;
  overflow-y: auto;

  .close-btn {
    position: absolute;
    z-index: 99;
    top: 16px;
    right: 16px;
    cursor: pointer;

    img {
      height: 24px;
    }
  }
}

.left {
  width: 600px;

  .form {
    width: 90%;
    padding-right: 45px;

    .form-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: initial;
      margin-bottom: 20px;
      .logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: initial;

        .logo-circle {
          height: 45px;
          width: 45px;
          display: block;
          background-color: $blue_bg;
          border-radius: 50%;
        }
        h1 {
          font-size: 20px;
          font-weight: 600;
          margin-left: 10px;
          color: $text_one;

          .lean {
            font-weight: 300;
          }
        }
      }

      .timer {
        font-size: 14px;
        font-weight: 500;
      }
      .timer-box {
        background-color: #17254c;
        color: $white_bg;

        height: 26px;
        width: 18px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        margin-left: 1px;
      }
      .timer-divider {
        position: relative;
        right: 0px;
        margin: 0 2px;
      }
    }
    .form-body {
      width: 100%;

      form {
        width: 100%;

        .input-group {
          margin-bottom: 0;
          width: 100%;

          .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: initial;
            margin-bottom: 0;

            .description .title {
              text-transform: capitalize;
              font-size: 14px;
              font-weight: 700;
              color: $text_one;
            }
            .description .desc {
              font-size: 12px;
              font-weight: 400;
              color: $text_two;
            }

            button.edit {
              display: flex;
              align-items: center;
              justify-content: space-around;
              flex-direction: initial;
              color: $blue_bg;
              background: none;
              border: none;

              .pen {
                height: 15px;
                color: $blue_bg;
                font-size: 18px;
                font-weight: bold;
                margin-right: 0;
              }

              .btn-desc {
                display: block;
                margin-left: 10px;
                font-weight: 500;
              }
            }
          }

          .main {
            position: relative;
            margin-top: 16px;
            width: 100%;
            img {
              position: absolute;
            }

            img.leading-icon {
              top: 50%;
              transform: translate(0, -50%);
              left: 20px;
              width: 34px;
              height: 34px;
            }
            img.trailing-icon {
              width: 20px;
              height: 20px;
              right: 0;
              top: 50%;
              transform: translate(0, -50%);
              right: 20px;
            }

            input {
              border: 2px solid rgba(224, 224, 224, 0.5);
              width: 70%;
              padding: 12px 20px;
              padding-left: 100px;
              font-size: 16px;
              font-weight: 600;
              border-radius: 6px;
              background: linear-gradient(45deg, #f5f8ff, transparent);
              color: $text_one;

              &.inputClass {
                width: 100%;
              }
              &:focus {
                outline-color: $active-border;
              }
              &::placeholder {
                font-weight: 400;
                opacity: 0.5;
              }
            }
          }
          &.__col {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: initial;
            margin-top: 16px;
            .grp {
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 250px;
              position: relative;

              .divider {
                display: block;
                font-size: 12px;
                font-weight: 500;
                color: $text_one;
                position: absolute;
                left: 50%;
                align-self: center;
                margin-top: auto;

                transform: translate(-50%, 50%);
              }
            }
            .main {
              width: 250px;
              display: flex;
              justify-content: flex-end;

              input {
                padding-right: 0;
                padding-left: 0;
                text-align: center;
                background: none;
                width: 100%;

                &:focus {
                  background: rgba(0, 119, 182, 0.05);
                }
                &[type='password'] {
                  text-align: left;
                  padding-left: 30px;
                  letter-spacing: 5px;
                }
              }
              .trailing-icon {
                opacity: 0.35;
              }
            }
            .main.__date {
              width: 45%;
            }
          }
        }
        .btn-submit {
          background-color: $blue_bg;
          width: 100%;
          padding: 18px;
          margin-top: 16px;
          box-sizing: border-box;
          color: $white_bg;
          text-transform: capitalize;
          font-size: 14px;
          font-weight: 500;
          background-repeat: 10px;
          transition: all 250ms ease-in-out;
          text-align: center;
          cursor: pointer;
          border: none;

          &:focus {
            border: none;
            outline: none;
          }
          &:hover {
            background-color: #1254d6;
          }
        }
      }
    }
  }
}

.right {
  flex: 1;
  width: 260px;
}

@media (min-width: 280px) and (max-width: 1024px) {
  .wrapper {
    flex-direction: column;
    min-width: 250px;
    width: 90%;
    max-width: 500px;
    overflow-x: auto;
    padding: 14px;
  }

  .left {
    width: 100%;

    .form {
      width: 100%;
      padding-right: 0;

      .form-header {
        // background-color: red;
        width: 100%;

        .logo {
          .logo-circle {
            width: 25px;
            height: 25px;
          }
          h1 {
            font-size: 12px;
          }
        }
        .timer {
          font-size: 8px;
          margin-right: auto;
          margin-left: 10px;

          .timer-box {
            height: 15px;
            width: 12px;
            border-radius: 2;
          }
        }
      }
      .form-body {
        form {
          .input-group {
            .header {
              .description .title {
                font-size: 12px;
              }
              .description .desc {
                font-size: 8px;
              }
              button.edit {
                align-self: flex-end;
                .pen {
                  height: 10px;
                }
                .btn-desc {
                  margin-left: 0px;
                  font-size: 10px;
                  align-self: center;
                }
              }
            }
            .main {
              img {
              }
              img.leading-icon {
                left: 5px;
                height: 20px;
              }
              img.trailing-icon {
                right: 5px;
                height: 15px;
              }
              input {
                font-size: 10px;
                padding-left: 40px;
              }
            }
          }
          .btn-submit {
            padding: 10px;
          }
        }
      }
    }
  }

  .right {
    margin-top: 50px;
    width: 100%;
  }
}
